{% extends 'base.html' %}
{% block title %} Social Cases {% endblock %}

{% block content %}
     <a href="{% url 'create-social-case' %}" class="text-info">Create a new Social Case</a>
    {% for case in social_cases_list %}
        <p>{{ case.title }}</p>
        <p>{{ case.description }}</p>
            <a href="{% url 'update-social-case' case.id %}" class="text-info">Update Data</a>
            <a href="{% url 'delete-social-case' case.id %}" class="text-info">Delete social case</a>
    {% endfor %}


{% endblock %}


