{% extends 'base.html' %}
{% load static %}

{%  block content %}


        <div class="stricky-header stricked-menu">
            <div class="container">
                <div class="logo-box">
                    <a href="{% url 'homepage' %}"><img src="{% static 'images/logo-light.png' %}" width="101" alt=""></a>
                </div><!-- /.logo-box -->
                <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
            </div><!-- /.container -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-1-1.jpg' %});"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2>Cause Details</h2>
                <ul class="thm-breadcrumb list-unstyled dynamic-radius">
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li>-</li>
                    <li><span>Causes</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <section class="cause-details blog-details  pt-120 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="cause-details__content">

                            <div class="cause-card">
                                <div class="cause-card__inner">
                                    <div class="cause-card__image">
                                        <img src="{{ socialcase.profile_image.url }}" alt="image" width="770px" height="452x">
                                    </div><!-- /.cause-card__image -->
                                    <div class="cause-card__content">
                                        <div class="cause-card__top">
                                            <div class="cause-card__progress">
                                                <span style="width: 66%;" class="wow cardProgress" data-wow-duration="1500ms">
                                                    <b><i>66</i>%</b>
                                                </span>
                                            </div><!-- /.cause-card__progress -->
                                            <div class="cause-card__goals">
                                                <p><strong>Raised:</strong> $25,270</p>
                                                <p><strong>Goal:</strong> $30,000</p>
                                            </div><!-- /.cause-card__goals -->
                                        </div><!-- /.cause-card__top -->

                                    </div><!-- /.cause-card__content -->
                                </div><!-- /.cause-card__inner -->
                            </div><!-- /.cause-card -->
                            <h3>{{ socialcase.title}}</h3>
                                    <p>{{ socialcase.description }}</p>
                            <div class="cause-card__bottom">
                                <a href="cause-details.html" class="thm-btn dynamic-radius">Donate Now</a>
                                <!-- /.thm-btn dynamic-radius -->
                                <a href="#" class="cause-card__share"><i class="azino-icon-share"></i></a>
                                <!-- /.cause-card__share -->
                            </div><!-- /.cause-card__bottom -->

                        </div><!-- /.cause-details__content -->
                        <h3 class="blog-details__title">Comments</h3><!-- /.blog-details__title -->
                        <div class="comment-one">
                            <div class="comment-one__single">
                                <img src="assets/images/blog/comment-1-1.jpg" alt="">
                                <h3>Jessica Brown</h3>
                                <p class="comment-one__date">20 May, 2020 . 4:00 pm</p>
                                <p>Lorem Ipsum is simply dummy free text of the available printing and typesetting been the
                                    industry standard dummy text ever sincer condimentum purus.</p>
                                <a href="#" class="thm-btn dynamic-radius">Reply</a><!-- /.thm-btn dynamic-radius -->
                            </div><!-- /.comment-one__single -->
                            <div class="comment-one__single">
                                <img src="assets/images/blog/comment-1-2.jpg" alt="">
                                <h3>Jessica Brown</h3>
                                <p class="comment-one__date">20 May, 2020 . 4:00 pm</p>
                                <p>Lorem Ipsum is simply dummy free text of the available printing and typesetting been the
                                    industry standard dummy text ever sincer condimentum purus.</p>
                                <a href="#" class="thm-btn dynamic-radius">Reply</a><!-- /.thm-btn dynamic-radius -->
                            </div><!-- /.comment-one__single -->
                        </div><!-- /.comment-one -->
                        <h3 class="blog-details__title">Leave a comment</h3><!-- /.blog-details__title -->
                        <form action="assets/inc/sendemail.php" class="contact-form-validated contact-page__form form-one mb-80">
                            <div class="form-group">
                                <div class="form-control">
                                    <input type="text" name="name" placeholder="Your Name">
                                </div><!-- /.form-control -->
                                <div class="form-control">
                                    <input type="text" name="email" placeholder="Email Address">
                                </div><!-- /.form-control -->
                                <div class="form-control">
                                    <input type="text" name="phone" placeholder="Phone Number">
                                </div><!-- /.form-control -->
                                <div class="form-control">
                                    <input type="text" name="subject" placeholder="Subject">
                                </div><!-- /.form-control -->
                                <div class="form-control form-control-full">
                                    <textarea name="message" placeholder="Write a Message"></textarea>
                                </div><!-- /.form-control -->
                                <div class="form-control form-control-full">
                                    <button type="submit" class="thm-btn dynamic-radius">Submit Comment</button>
                                    <!-- /.thm-btn dynamic-radius -->
                                </div><!-- /.form-control -->
                            </div><!-- /.form-group -->
                        </form><!-- /.contact-page__form -->
                        <div class="result"></div><!-- /.result -->


                    </div><!-- /.col-md-12 col-lg-8 -->
                    <div class="col-md-12 col-lg-4">
                        <div class="cause-details__sidebar">
                            <div class="cause-details__organizer">
                                <img src="assets/images/causes/organizer-1-1.jpg" alt="">
                                <p>Created 20 May, 2020</p>
                                <h3>Organizer: <strong>Sarah Albert</strong></h3>
                                <ul class="list-unstyled cause-details__organizer-list">
                                    <li>
                                        <i class="fa fa-tag"></i>
                                        <a href="#">Education</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker-alt"></i>
                                        <a href="#">New York, USA</a>
                                    </li>
                                </ul><!-- /.cause-details__organizer-list -->
                            </div><!-- /.cause-details__organizer -->
                            <div class="cause-details__donations">
                                <h4 class="cause-details__donations-title">
                                    Donations
                                </h4><!-- /.cause-details__donations-title -->
                                <ul class="list-unstyled cause-details__donations-list">
                                    <li>
                                        <img src="assets/images/causes/donor-1-1.jpg" alt="">
                                        <p>$20</p>
                                        <h3>David Marks <span>3 hours ago</span></h3>
                                        <span>God bless you dear</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/causes/donor-1-2.jpg" alt="">
                                        <p>$20</p>
                                        <h3>David Marks <span>3 hours ago</span></h3>
                                        <span>God bless you dear</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/causes/donor-1-1.jpg" class="anonymus" alt="">
                                        <p>$20</p>
                                        <h3>Anonymus <span>3 hours ago</span></h3>
                                        <span>God bless you dear</span>
                                    </li>
                                </ul><!-- /.cause-details__donations-list -->
                            </div><!-- /.cause-details__donations -->
                        </div><!-- /.cause-details__sidebar -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.cause-details -->

















{% endblock content %}