{% extends 'base.html' %}
{% load  static %}

{% block title %} Participate event {% endblock %}

{% block content %}

        <div class="content-box" style="padding-top: 300px; padding-bottom: 200px; padding-left: 100px">
            <h3 align="center">{{ user.first_name }}, Ne bucurăm că vrei să te alături campaniei !</h3>
                <br>
            <div class="container-fluid" style="padding-bottom: 50px">
                <h5>Înscrie-te dând click mai jos și alătură-te echipei de voluntari</h5>
                    <br>
                <h5>Vei primi un e-mail când organizatorii au noutăți depre eveniment</h5>
                    <br>
            </div>

            <div class="cold-md6 offset-md-1" style="padding-right: 150px; width: 85%">
                <form method="POST" enctype="multipart/form-data" class="become-volunteer__form form-one " >
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Enroll</button>
                </form>
            </div>

        </div>

{% endblock content %}